<div id="head">
    <div class="head_inner">
        <h1><a href="/dtox/"><img src="{{ asset('images/head_logo.gif?20180214') }}" width="445" height="90" alt="除染・中間貯蔵関連技術探索サイト" /></a></h1>
        <p class="hide"><a href="#title">メインメニューをとばして、このページの本文エリアへ</a></p>
        <ul class="pnav">
            <li><a href="/dtox/"><img src="{{ asset('images/head_pnav01_off.gif') }}" width="75" height="26" alt="ホーム" class="rollover" /></a></li>
            <li><a href="/dtox/faq"><img src="{{ asset('images/head_pnav02_off.gif') }}" width="107" height="26" alt="よくある質問" class="rollover" /></a></li>
            <li><a href="{{ path('app_contact') }}"><img src="{{ asset('images/head_pnav03_off.gif') }}" width="109" height="26" alt="お問い合わせ" class="rollover" /></a></li>
            <li><a href="{{ path('app_logout') }}"><img src="{{ asset('images/head_pnav06_off.gif') }}" width="134" height="26" alt="ログイン／ログアウト" class="rollover" /></a></li>
        </ul>

        <ul class="fontSize">
            <li><img src="{{ asset('images/head_size.gif') }}" width="71" height="28" alt="文字サイズ" /></li>
            <li><img class="changeBtn" src="{{ asset('images/head_ssize.gif') }}" width="18" height="18" alt="小" /></li>
            <li><img class="changeBtn" src="{{ asset('images/head_msize.gif') }}" width="24" height="24" alt="中" /></li>
            <li><img class="changeBtn" src="{{ asset('images/head_lsize.gif') }}" width="28" height="28" alt="大" /></li>
        </ul>

        <div class="env_logo"><a href="http://www.env.go.jp/" target="_blank"><img src="{{ asset('images/head_envlogo.gif') }}" width="94" height="29" alt="環境省" /></a></div>
    </div>
</div><!-- end.div head -->
